/* Estilos del nav */
header nav {
  background-color: rgb(255 255 255 / 50%);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 10%),
    0 4px 6px -4px rgb(0 0 0 / 10%);
  animation: nav-shadow 1s linear forwards;
}

.dark header nav {
  background-color: rgb(31 41 55 / 90%);
}

/* Animación pura CSS */
@keyframes nav-shadow {
  0% {
    background-color: rgb(255 255 255 / 0%);
  }

  100% {
    background-color: rgb(255 255 255 / 50%);
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  }
}
