<header>
  <nav>
    <div class="logo">fernandopastor.dev</div>
    <div class="nav-links">
      <a href="/new-index">Inicio</a>
      <a href="/projects">Projectos</a>
      <a href="/blog">Blog</a>
      <a href="/about">Acerca de</a>
    </div>
    <button class="hire-btn">Conctacta</button>
  </nav>
</header>
