---
import SLayout from "@/layouts/SLayout.astro";
---

<SLayout
  title="fernandopastor.dev | Acerca de"
  description="Conoce más sobre mí, mi trayectoria y mis intereses en el desarrollo de software. Aquí comparto información sobre mi experiencia, habilidades y proyectos destacados."
>
  <h1>Acerca de...</h1>
</SLayout>
