---
import SLayout from "@/layouts/SLayout.astro";
---

<SLayout
  title="fernandopastor.dev | Blog"
  description="Explora mis pensamientos, experiencias y conocimientos sobre el desarrollo de software a través de mi blog. Aquí comparto artículos, tutoriales y reflexiones sobre las últimas tendencias en tecnología y programación."
>
  <h1>Blog</h1>
</SLayout>
