---
import Badge from "../components/Badge.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialPill from "../components/SocialPill.astro";
import TitleSection from "../components/TitleSection.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.scss";
/* Icons */
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import DiscordIcon from "../components/icons/Discord.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import MailIcon from "../components/icons/Mail.astro";
---

<Layout
  title="Portfolio de Fernando Pastor - Diseño, Desarrollo y Progración de Aplicaciones Multiplataforma"
  description="Lalala"
>
  <main>
    <SectionContainer>
      <h1>
        Hi there! I'm Fer!
        <a
          href="https://www.linkedin.com/in/fernando-pastor/"
          target="_blanc"
          rel="noopener"
        >
          <Badge>Currently in Intensive Learning</Badge>
        </a>
      </h1>
      <h2>
        My name is Fernando Pastor, and I'm a seasoned professional with over 20
        years of experience in <span>
          graphic design, web development, and digital marketing
        </span>, specializing in marketing strategies.
      </h2>
      <nav>
        <SocialPill href="https://www.linkedin.com/in/fernando-pastor/">
          <LinkedInIcon width="var(--icon-sm)" height="var(--icon-sm)" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://discordapp.com/users/303308172066553876">
          <DiscordIcon width="var(--icon-sm)" height="var(--icon-sm)" />
          Discord
        </SocialPill>
        <SocialPill href="mailto:fer@fernandopastor.es">
          <MailIcon width="var(--icon-sm)" height="var(--icon-sm)" />
          fer@fernandopastor.es
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <TitleSection>
        <BriefcaseIcon />
        Experience
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <TitleSection>
        <CodeIcon />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    max-width: 56rem;
  }
  main nav {
    display: flex;
    gap: 0.75rem;
    margin-top: 1rem;
  }
</style>
