---
import MetricCard from "./MetricCard.astro";

const metrics = [
  {
    label: "01 // EXPERIENCE",
    value: "08 YRS",
    description: "Writing production-grade code for global startups.",
  },
  {
    label: "02 // THROUGHPUT",
    value: "142+",
    description: "Projects shipped from inception to deployment.",
  },
  {
    label: "03 // UP-TIME",
    value: "99.9%",
    description: "Obsessive focus on code reliability and maintenance.",
  },
];
---

<section class="metrics-section">
  <div class="metrics-grid">
    {
      metrics.map((metric) => (
        <MetricCard
          label={metric.label}
          value={metric.value}
          description={metric.description}
        />
      ))
    }
  </div>
</section>
<style>
  .metrics-section {
    background: var(--surface-container-low);
    padding: 6rem 2rem;

    .metrics-grid {
      @media (width < 768px) {
        grid-template-columns: repeat(1, 1fr);
      }

      @media (width >= 768px) {
        grid-template-columns: repeat(3, 1fr);
      }

      background: rgb(171 173 174 / 15%);
      display: grid;
      gap: 1px;
      margin: 0 auto;
      max-width: var(--max-width);
    }
  }
</style>
