<!-- Projects Section -->
<section class="container projects-section">
  <div class="section-header">
    <div>
      <span class="tag">SELECTED_ARCHIVES</span>
      <h2>Core Projects</h2>
    </div>
    <div class="header-meta">
      Sorted by Intensity<br />Updated: 2024.05
    </div>
  </div>
  <div class="projects-layout">
    <div class="main-project">
      <div class="project-image-wrapper">
        <img
          alt="Cybersecurity Dashboard"
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuBwVu9wycIn7nrtyLs0JD4gyMQzyCLSWsTaFXDlV8csIGmwWR1wNEBBXBvKZRIEoIKplYbVTlCY1IRGdtFCmwdc8Su1jISkjVuBrxeP9uRTnUVY7p-cfymnihTCQTfWbEFMFZnDo8_X3LjWoxcXrGAQhBKdtz031Tmb8L9IKvb5U2eF-3BmCeJYA0z-wn3BBZUWPHjacVoSuOOur-0IQY6I8e5RJ4E1eM9DR9aGjOJSZCu4z2vSpATBzRh67Gx9q1WDDcK0sEkx-y8"
        />
        <div class="overlay-tags">
          <span>Web3</span>
          <span>Security</span>
        </div>
      </div>
      <div class="project-info">
        <div>
          <h3>NEURAL_NET DASHBOARD</h3>
          <p>
            Real-time threat detection interface built with React, Three.js, and
            high-performance WebGL shaders.
          </p>
        </div>
        <span class="material-symbols-outlined arrow-icon">arrow_outward</span>
      </div>
    </div>
    <div class="side-projects">
      <div class="side-project">
        <div class="side-image">
          <img
            alt="Code Snippets"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuDuUGRwJ6oFNgDv59QsDPLGstcSht_3ArmwEAjVRK1lEegIhm1u3pFORVQHqPfNyNT0gHIBl6wMQ6yaxFi15fdz_8hjJnEPX4RwamDuC9lqKICWG2Qv9kUIlczRApTVxib4W34yHX0RbdIKKoo_pWVrp-gWNKAFYDwqqYUivHGu1rQywSgz4YwfDXrUDznQELRA7NLSUkhnpGM-jixGrj7vlZ8v-YgsqZ2njbm4-Z8DB0JmzC2xkJmkuzIMAHB14vOyOwoX11IUVK0"
          />
        </div>
        <h4>OS_KNOT COMPONENT LIB</h4>
        <p class="meta">NPM Package // 45k Weekly Downloads</p>
      </div>
      <div class="side-project">
        <div class="side-image">
          <img
            alt="Data Center"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuBLur2r7UZI_6fgTt1o3_LwjCunSupIJKaQxojoI2WsAkaKlgGHudoD098oD4e7V7fkeXW34fuFLJI8kwmsgXyqBv51f_x8vJ_MyRhad-aqzGW7FckoXozZCozIvBv_Kj53qUP5xmwwZ_T7LkImyvJ-QIxMDskll0TBUyvGRzOxG5nlpMflJCfJ3hevr2lT_PxsQh3Lm_v0u6Cd-21v_RjVFW_yjtmLi3oMub812gj27XS7TSF2DqXekn7dFaiN_T_fn4jkwwdNF50"
          />
        </div>
        <h4>SYNTH_CORE INFRA</h4>
        <p class="meta">Infrastructure as Code // Terraform</p>
      </div>
    </div>
  </div>
</section>
