<!-- Tech Stack Section -->
<section class="tech-section">
  <div class="container">
    <span class="tag-status" style="background:none; padding:0;"
      >CAPABILITIES_MATRIX</span
    >
    <h2
      style="font-family: var(--font-headline); font-size: 3rem; margin-bottom: 4rem; text-transform: uppercase;"
    >
      Tooling &amp; Environment
    </h2>
    <div class="tech-grid">
      <div class="tech-item">
        <span class="material-symbols-outlined">terminal</span>
        <p>TypeScript</p>
      </div>
      <div class="tech-item">
        <span class="material-symbols-outlined">data_object</span>
        <p>Next.js</p>
      </div>
      <div class="tech-item">
        <span class="material-symbols-outlined">storage</span>
        <p>PostgreSQL</p>
      </div>
      <div class="tech-item">
        <span class="material-symbols-outlined">cloud</span>
        <p>AWS / CDK</p>
      </div>
      <div class="tech-item">
        <span class="material-symbols-outlined">deployed_code</span>
        <p>Docker</p>
      </div>
      <div class="tech-item">
        <span class="material-symbols-outlined">polyline</span>
        <p>Rust/WASM</p>
      </div>
    </div>
  </div>
</section>

<style>
  /* Tech Stack */
  .tech-section {
    background: var(--surface-container);
    padding: 8rem 2rem;

    .tech-grid {
      @media (width >= 768px) {
        grid-template-columns: repeat(4, 1fr);
      }

      @media (width >= 1024px) {
        grid-template-columns: repeat(6, 1fr);
      }

      /* grid-template-columns: repeat(2, 1fr); */
      display: grid;
      gap: 1rem;
      margin: 0 auto;
      max-width: var(--max-width);

      .tech-item {
        align-items: center;
        background: var(--surface);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        padding: 1.5rem;
        text-align: center;
        transition: background 0.3s;

        &:hover {
          background: var(--surface-container-highest);
        }

        & span {
          color: var(--primary);
          font-size: 1.875rem;
        }

        & p {
          font-family: var(--font-headline);
          font-size: 0.7rem;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
</style>
