---
import Icon from "./Icon.astro";

interface Props {
  date: string;
  title: string;
  description: string;
  link?: string;
}

const { date, title, description, link } = Astro.props;
---

<time>{date}</time>
<h3>
  {title}
</h3>
<p>
  {description}
  {
    link && (
      <a class="more" href="{link}">
        Saber mas...
        <Icon name="link" size="12px" />
      </a>
    )
  }
</p>

<style>
  .more {
    align-items: center;
    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: var(--radius-full);
    color: black;
    display: inline-flex;
    font-size: 0.6rem;
    gap: 0.1rem;
    margin-left: 0.1rem;
    padding: 0.1rem 0.5rem;
    text-decoration: none;
    transition:
      background-color 0.5s,
      color 0.5s;
    vertical-align: middle;

    svg {
      transition: stroke 0.5s;
    }

    &:hover {
      background-color: black;
      color: white;

      svg {
        stroke: white;
      }
    }
  }
</style>
