<footer class="shadow bg-gray-300 dark:bg-gray-800 p-2 text-sm">
  <div>
    <span
      >Portfolio de Fernando Pastor · Diseño, Desarrollo y Programación de
      Aplicaciones Multiplataforma</span
    >
    <ul>
      <li>
        <a href="#top">Home</a>
      </li>
      <li>
        <a href="#experience">Experience</a>
      </li>
      <li>
        <a href="#projects">Projects</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</footer>
