<footer class="shadow bg-gray-300 dark:bg-gray-800 p-2 text-sm">
  <div
    class="flex flex-col items-center p-10 gap-8
    md:flex-row md:w-full md:mx-auto md:max-w-screen-lg md:p-4 md:gap-0"
  >
    <span class="text-gray-500 sm:text-center text-center dark:text-gray-400"
      ><span class="font-semibold dark:text-yellow-200/80"
        >Portfolio de Fernando Pastor</span
      > · Diseño, Desarrollo y Programación de Aplicaciones Multiplataforma
    </span>

    <ul
      class="flex flex-row gap-8 flex-wrap items-center mx-auto
      text-gray-500 dark:text-gray-400
        md:ml-auto md:mr-0 md:gap-2 font-semibold"
    >
      <li>
        <a href="#top" class="hover:text-yellow-200/80">Home</a>
      </li>
      <li>
        <a href="#experience" class="hover:text-yellow-200/80">Experience</a>
      </li>
      <li>
        <a href="#projects" class="hover:text-yellow-200/80">Projects</a>
      </li>
      <li>
        <a href="#contact" class="hover:text-yellow-200/80">Contact</a>
      </li>
    </ul>
  </div>
</footer>
