---
import ThemeToggle from "./ThemeToggle.astro";

const navItems = [
  {
    title: "About me",
    label: "about-me",
    url: "/#top",
  },
  {
    title: "Experience",
    label: "experience",
    url: "/#experience",
  },
  {
    title: "Projects",
    label: "projects",
    url: "/#projects",
  },
  {
    title: "Contact",
    label: "contact",
    url: "mailto:fer@fernandopastor.es",
  },
];
---

<header>
  <nav>
    {
      navItems.map((link) => (
        <a aria-label={link.label} href={link.url}>
          {link.title}
        </a>
      ))
    }
    <ThemeToggle />
  </nav>
</header>

<style>
  header nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: space-between;
    padding: 0.25rem 0.65rem;
  }

  header nav a {
    border-radius: 8px;
    color: var(--text);
    font-size: var(--font-size-sm);
    font-weight: 600;
    padding: 0.2rem 0.6rem;
    text-decoration: none;
  }

  header nav a:hover {
    color: var(--accent);
  }

  header nav a.active {
    background: rgb(37 99 235 / 6%);
    color: rgb(var(--accent-light));
  }

  header nav a[aria-label="contact"] {
    margin-left: auto;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section");
    const navItems = document.querySelectorAll("header nav a");

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("active");
            } else {
              item.classList.remove("active");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    });

    sections.forEach((section) => {
      observer.observe(section);
    });

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect();
      } else {
        sections.forEach((section) => {
          observer.observe(section);
        });
      }
    };
  });
</script>
